<script lang="ts">

    import {
        Updater,
        EvaluationPoint,
        Model,
        Result,
        EvaluationResults,
        GetResultIndexOf,
        GetResultTime,
        GetResultTimeStep,
        GetResultNpaths,
        GetResultMean,
        GetResultMeanError,
        GetResultStddev,
        GetResultSkewness
    } from '$lib/dto'

    import {GetServer, RunModel} from '$lib/srv'

    const server = GetServer();

    let evaluation_result_promise: Promise<EvaluationResults>;

    function handleClick() {

        const model = new Model(
            0, 1000, 100000,
        );

        model.Add(new Updater('IndependentGaussian'));

        const gbm = model.Add (new Updater(
            'GeometricalBrownianMotion',
            [], [0.1,0.2], 1
        ));

        const zcb_gbm = model.Add (new Updater(
            'ZeroCouponBond',
            [gbm._state!], [], 1
        ));

        model.evaluations = [{
            state:0,time:1.1
        },{
            state:0,time:3.3
        }];
        
        evaluation_result_promise = RunModel(model, server);
    }
    
    function formatNumber (value:any, digits:number) {
        return typeof(value)==='number' ? value.toPrecision(digits) : null;
    }

    const digits = 5;

</script>

<h1>MonteCarlo example</h1>

<button on:click={handleClick}>
    run model
</button>

{#await evaluation_result_promise}
    <p>...waiting</p>
{:then er}
    {#if !er}
        <p>Press the button!</p>
    {:else}
        <p>There are {er.names.length} states with {er.time_points.length} evaluations!</p>
        <div class="grid-container">
            <div class="h name">Name</div>
            <div class="h state">State</div>
            <div class="h point">Point</div>
            <div class="h time">Time</div>
            <div class="h time-step">TimeStep</div>
            <div class="h npaths">Npaths</div>
            <div class="h mean">Mean</div>
            <div class="h mean-error">MeanError</div>
            <div class="h stddev">Stddev</div>
            <div class="h skewness">Skewness</div>

            {#each Array(er.time_points.length) as _,point}
                {#each Array(er.names.length) as _,state}
                    <div class="c name">        {er.names[state]}</div>
                    <div class="c state">       {state}</div>
                    <div class="c point">       {point}</div>
                    <div class="c time">        {formatNumber(er.time_points[point],              digits)}</div>
                    <div class="c time-step">   {Math.round(er.time_steps [point])}</div>
                    <div class="c npaths">      {GetResultNpaths    (er,state,point)}</div>
                    <div class="c mean">        {formatNumber(GetResultMean      (er,state,point),digits)}</div>
                    <div class="c mean-error">  {formatNumber(GetResultMeanError (er,state,point),digits)}</div>
                    <div class="c stddev">      {formatNumber(GetResultStddev    (er,state,point),digits)}</div>
                    <div class="c skewness">    {formatNumber(GetResultSkewness  (er,state,point),digits)}</div>
                {/each}
            {/each}
        </div>

    {/if}
{:catch error}
    <p style="color: red">{error.message}</p>
{/await}


<style>
    .grid-container {
        background-color: antiquewhite;
        max-width: 60em;
        display: grid;
        grid-template-columns: 6fr 1fr 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
        /* grid-template-columns:minmax(10,100) minmax(10,100) minmax(10,100); */
        /* grid-template-columns: minmax(300,1fr) minmax(1ch,10ch) minmax(1ch,10ch); */
    }
    .h {
        /* font-style: bold; */
        background-color: gray;
    }
</style>
