<script lang="ts">

    import Uplot from '$lib/Uplot.svelte'

    export let data;

    const uplot_opts = {
            width: 600,
            height: 300,
            scales: {x: {time: false}},
            series: [{label: "x"}, {label: "y", stroke: "red"}],
        };

    let uplot_data;

    if(data.y===undefined){
        const
            xmin  = data.x.min,
            xmax  = data.x.max,
            dx    = (data.x.max-data.x.min)/data.x.nbins;

        uplot_data = [
            data.bins.map((v,i) => (xmin+(i+0.5)*dx) ),
            data.bins
        ];
    } else {
        throw new Error("Histograms2D are not supported yet.");
    }


</script>

<p>X: state={data.x.state} bins={data.x.nbins} range=[{data.x.min},{data.x.max}]</p>
{#if data.y}
<p>Y: state={data.y.state} bins={data.y.nbins} range=[{data.y.min},{data.y.max}]</p>
{/if}

<Uplot opts={uplot_opts} data={uplot_data}/>

<style>
    /* .uplot > *{
        width: 600;
        height: 300;
    } */
</style>

<!-- <style>
    .container {
        display: grid;
        grid-template-columns: repeat(8,1fr);
    }
</style> -->
