<script lang="ts">
	import 'katex/dist/katex.min.css'
	import katex from 'katex'

	export let latex : string = '';

	let targ: HTMLElement;
    let opts = {};

	$: {
        // console.log('input: ',latex);
        if(targ){
            katex.render(latex,targ,opts);
        }
	}
</script>

<div bind:this={targ} />
