<script lang="ts">
    import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
    import type {Model} from '$lib/dto'
    import NumbersList from "$lib/NumbersList.svelte"
    export let model : Model;
    function set_new_value (old_value, new_value) {
        return new_value.length>0 ? +new_value : old_value;
    }
</script>

<div class="updaters-table">
    <div class="h help">Help!</div>
    <div class="h name">Name</div>
    <div class="h function">Function</div>
    <div class="h state">State</div>
    <div class="h start">Start</div>
    <div class="h refs">Refs</div>
    <div class="h args">Args</div>

    {#each model.updaters as u}
        <button on:click={()=>{dispatch('help',u.name);}}>Help!</button>
        <div class="name">{u.GetName()}</div>
        <div class="function">{u.GetFunctionNumber()}</div>
        <div class="state">{u.HasState() ? u.GetStateNumber() : 'none'}</div>
        <div class="start">
            {#if u.start===undefined}
                none
            {:else if u.start===null}
                ignored
            {:else}
                <input type=number value={u.start} on:change={e=>{u.start = set_new_value(u.start,e.target.value);}}>
            {/if}
        </div>
        <div class="refs">
            <NumbersList bind:values={u.refs} prefix='ref'/>
        </div>
        <div class="args">
            <NumbersList bind:values={u.args} prefix='arg'/>
        </div>
    {/each}
</div>

<style>
    .updaters-table > div {
        border-style: solid;
        border-width: 0.1em;
        background-color: rgb(255, 252, 213);
    }
    .updaters-table .h {
        text-align: center;
        font-style: italic;
        background-color: rgb(151, 241, 189);
    }
    .updaters-table {
        border-style: solid;
        border: 0.2em;
        display: grid;
        grid-template-columns: 3em 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .start > input {
        width: 5em;
    }
</style>