<script lang="ts">
    export let values : number[] = [];
    export let prefix : string   = '';
    const len = values.length;
</script>

<div class="container">
    <div class="buttons">
        <button on:click={()=>{values.push(0);values=values;}}>add</button>
        <button on:click={()=>{values.length=len;values=values;}}>default</button>
    </div>
    {#each values as value, i}
        <div class="number">
            {#if prefix}
                {prefix}[{i}]=
            {/if}
            <input type=number bind:value={value} name="value-{i}">
        </div>
    {/each}
</div>

<style>
    input {
        width: 5em;
    }
    .number {
        display: flex;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
</style>