<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
    export let updaters; // data.functions : UpdaterDoc[];
</script>

{#each updaters as f}
    <button
        class="updaters"
        on:click={()=>{dispatch('select',f);}}>
        {f.name}
    </button>
{/each}

<style>
.updaters {
    width: 15em;
    display: grid;
    grid-template-columns: 1fr;
}
</style>