<script lang="ts">
    import md from 'markdown-it'
    import type {UpdaterDoc} from '$lib/dto'
    export let doc: UpdaterDoc;
</script>

<div class="doc">
    {#if doc && doc.doc_md}
        {@html md().render(doc.doc_md)}
    {/if}
</div>

<style>
    .doc {
        background-color: aquamarine;
        min-width: 20em;
        max-width: 30em;
        min-height: 10em;
        max-height: 30em;
        overflow-y: scroll;
    }
</style>
