<script lang="ts">

    import md from 'markdown-it'

    import type {
        Updater,
        UpdaterDoc,
    } from '$lib/dto'

    export let updater: Updater;
    export let doc: UpdaterDoc;

    // $: doc_md = doc ? md().render(doc.doc_md) : '(nothing selected)';
    // $: doc_md = doc ? md().render(doc.doc_md) : '';

    console.log(`UpdaterEditor: ${JSON.stringify(updater)}`);

</script>

<!-- <button on:click={()=>updater.args.push(0)}>New argument</button> -->

<div class="container">
    <div class="inputs">
        {#if updater.start!==undefined}
            <p>starting value</p>
            <input type=number bind:value={updater.start} name="start">
        {/if}
        {#each updater.refs as ref,i}
            <p>ref[{i}]</p>
            <input type=number bind:value={ref} name="ref-{i}">
        {/each}
        {#each updater.args as arg,i}
            <p>arg[{i}]</p>
            <input type=number bind:value={arg} name="arg-{i}">
        {/each}
    </div>
    {#if doc}
        <div class="doc">
            {@html md().render(doc.doc_md)}
        </div>
    {/if}
</div>

<style>
    /* .container .inputs {
        flex-grow: 0;
        flex-shrink: 0;
    } */
    .doc {
        background-color: aquamarine;
        min-width: 20em;
        max-width: 30em;
        min-height: 10em;
        max-height: 30em;
        overflow-y: scroll;
    }
    .inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 20em;
    }
    .inputs > * {
        padding: 0;
        margin: 0;
    }
    .inputs p {
        align-items: right;
    }
</style>