<script lang="ts">
	import 'uplot/dist/uPlot.min.css';
	import uPlot, { type Options, type AlignedData } from 'uplot';

	export let opts: Options;
	export let data: AlignedData | undefined;

	let targ: HTMLElement;

	$: {
		if (targ) {
			new uPlot(opts, data, targ);
		}
	}
</script>

<div bind:this={targ} />