<h3>Source code of the web app</h3>
<a href="https://gitlab.com/finexp/mc-webapp">https://gitlab.com/finexp/mc-webapp</a>

<h3>Software development kit</h3>
<a href="https://gitlab.com/finexp/mcsdk">https://gitlab.com/finexp/mcsdk</a>

<h3>Navigation</h3>

<ul>
    <li><a href="/model">Model constructor</a></li>
    <li><a href="/model-templates/1">
        Geometrical bronian motion with discounting factor
        and call option price calcluation.
    </a></li>
    <!-- <li><a href="/simple">Run simple model</a></li>
    <li><a href="/uPlot">uPlot example</a></li> -->
</ul>
