<script lang="ts">
    import Uplot from '$lib/Uplot.svelte'

    let xs = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30];
    let vals = [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7,8,9,10];

    const examples = [{
        opts: {
            width: 600,
            height: 300,
            scales: {x: {time: false}},
            series: [{label: "x"}, {label: "y", stroke: "red"}],
        },
        data:[
            [1, 2, 3, 4, 5],
            [1, 3, 2, 5, 4]
        ]
    },{
        opts:{
				width: 400,
				height: 200,
				title: ".syncRect()",
				scales: {
					x: {
						time: false,
					},
				},
				series: [
					{},
					{
						stroke: "red",
						fill: "rgba(255,0,0,0.1)",
					},
					{
						stroke: "green",
						fill: "rgba(0,255,0,0.1)",
					},
					{
						stroke: "blue",
						fill: "rgba(0,0,255,0.1)",
					},
				],
		},
        data: [
				xs,
				xs.map((t, i) => vals[Math.floor(Math.random() * vals.length)]),
				xs.map((t, i) => vals[Math.floor(Math.random() * vals.length)]),
				xs.map((t, i) => vals[Math.floor(Math.random() * vals.length)]),
    	]
    }];

</script>

<h2>uPlot examples</h2>
{#each examples as example, i}
    <div>
        <h3>Example {i+1}: {example.name || ''}</h3>
        <Uplot opts={example.opts} data={example.data}/>
    </div>
{/each}

