<script lang="ts">

    import type {PageData} from './$types'
    import md from 'markdown-it'
    // import showdown from 'showdown'

    import {
        UpdaterDoc,
        Updater,
        // EvaluationPoint,
        Model,
        // Result,
        // EvaluationResults,
        // GetResultIndexOf,
        // GetResultTime,
        // GetResultTimeStep,
        // GetResultNpaths,
        // GetResultMean,
        // GetResultMeanError,
        // GetResultStddev,
        // GetResultSkewness
    } from '$lib/dto'

    import UpdaterEditor from "$lib/UpdaterEditor.svelte"
    import UpdatersList from "$lib/UpdatersList.svelte"

    export let data: UpdaterDoc[];

    const model = new Model(
            0, 1, 1,
    );

    function handleClick() {
        console.log('Add!');
    }

    let func_selected = undefined;
    $: func_doc_md = md().render(func_selected? func_selected.doc_md : 'please select a function');

    // const converter = new showdown.Converter({tables:true});

    let updater : Updater|undefined = undefined;

    $: console.log('updater:',updater);

    const default_number = 0;

    $: {
        if(func_selected!==undefined){
            // console.log('Create Updater from:');
            // console.log(func_selected);
            const f = func_selected;
            updater = new Updater(
                f.name,
                new Array(f.nargs_min).fill(default_number),
                new Array(f.nrefs_min).fill(default_number),
                f.has_start ? default_number : undefined
            );
            console.log(updater);
        } else {
            updater = undefined;
        }
    }


    let updater2 : Updater|undefined = undefined;
    let updater2_doc : UpdaterDoc|undefined = undefined;
    function handle_updater_select (e) {
        const f = e.detail;
        updater2_doc = f;
        if(updater2===undefined || updater2.name!==f.name)
            updater2 = new Updater(
                f.name,
                new Array(f.nargs_min).fill(default_number),
                new Array(f.nrefs_min).fill(default_number),
                f.has_start ? default_number : undefined
            );
    }

    // $: console.log(`updater2: ${JSON.stringify(updater2)}`);

</script>



<div class="wrapper2">
    <div>
        <UpdatersList updaters={data.functions} on:select={handle_updater_select}/>
    </div>
    <div>
        {#if updater2}
        <UpdaterEditor bind:updater={updater2} doc={updater2_doc}/>
        {/if}
    </div>
</div>
<!-- {#if updater2}
    <div class="editor-container">
        <UpdaterEditor bind:updater={updater2} doc={updater2_doc}/>
    </div>
{/if} -->


<br>

<h1>Updater: there are {data.functions.length} functions!</h1>

<!-- <select bind:value={selected} on:change="{() => console.log(selected.name)}">
    {#each data.functions as f}
        <option value={f.name} on:show={console.log(`select ${f}`)}>
            {f.name}
        </option>
    {/each}
</select> -->

<!-- <nav>
    <ul>
        {#each data.functions as f,i}
            <li><a href="#">{f.name}</a></li>
        {/each}
    </ul>
</nav> -->

<div class="updater">
    <div class="updater-selector">
        <nav class="names-container">
            {#each data.functions as f}
                <button class="name" on:click={()=>{func_selected=f;}}>{f.name}</button>
            {/each}
        </nav>
    </div>
    <div class="updater-doc">
        {#if func_selected}
            <!-- <h3>{func_selected.title}</h3> -->
            {@html func_doc_md}
        {/if}
    </div>
    <div class="updater">
        {#if updater}
            <UpdaterEditor bind:updater={updater}/>
        {/if}
    </div>
</div>


<button on:click={handleClick}>
    Add
</button>


<!-- <ul class="updaters-list">
    {#each data.functions as f,i}
    <li on:click={()=>console.log(f.name)}>
        {f.name}
    </li>
    {/each}
</ul> -->


<style>
    .wrapper2 {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
    /* .updaters-list {
        border: 0.2em;
        border-style: solid;
        border-radius: 1em;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .updaters-list li {
        color: blue;
    }
    .updaters-list li :hover {
        color: black;
    } */
    /* .updater { UpdaterDoc[]
        display: inline-flexbox;
    } */
    .updater-doc {
        border: 0.2em;
        border-style: solid;
        border-radius: 1em;
        background-color: aquamarine;
        min-width: 20em;
        max-width: 40em;
        min-height: 10em;
        max-height: 40em;
        overflow-y: scroll;
    }
    .updater-selector {
        border: 0.2em;
        border-style: solid;
        border-radius: 1em;
        /* display: grid;
        grid-template-columns: 1fr 5fr; */
    }
    .names-container {
        width: 15em;
        display: grid;
        grid-template-columns: 1fr;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    nav a {
        color: blue;
        text-decoration: none;
    }
    nav a:hover {
        border-style: solid;
        border: 0.2;
        border-radius: 0.4em;
        border-color: blue;
    }
    /* nav li {updaters-list
        margin-bottom: 1em;
        margin-left: 1em;
    } */
    /* .name:active {
        background-color: red;
    }
    .name:hover {
        background-color: yellow;
    }
    .names-container {
        display: grid;
        grid-template-columns: 1fr;
    } */
    .editor-container {
        border-style: solid;
        border-radius: 0.4em;
    }
</style>