<script lang="ts">

    import {
        UpdaterDoc,
        Updater,
        Model,
		EvaluationPoint,
        Histogram1D,
        Histogram2D,
        HistogramAxis,
        GetResultNpaths,
        GetResultMean,
        GetResultMeanError,
        GetResultStddev,
        GetResultSkewness
    } from '$lib/dto'

    import UpdaterDocComponent from '$lib/UpdaterDoc.svelte'
    import UpdatersList from '$lib/UpdatersList.svelte'
    import Histogram from '$lib/Histogram.svelte'

    import ModelComponent from "$lib/ModelComponent.svelte"

    import {GetServer, RunModel} from '$lib/srv'



    export let model : Model;
    let eval_time = 0;

    export let functions = [];

    let func_selected = undefined;
    function handleHelp (event) {
        const items = functions.filter(v=>v.name===event.detail);
        if(items.length!==1)
            throw new Error(`Help failed for ${event.detail}`);
        else
            func_selected = items[0];
    }

    function add (model_arg, f:UpdaterDoc) {
        const default_number = 0;
        let start;
        if(f.start=="none")
            start = undefined;
        else if(f.start=="ignored")
            start = null;
        else if (f.start=="required")
            start = default_number;
        else
            throw new Error('Unexpected "start" value');

        model_arg.Add(new Updater(
                f.name,
                new Array(f.nrefs_min).fill(default_number),
                new Array(f.nargs_min).fill(default_number),
                start
        ));
        model = model_arg;
    }

    function reset_model () {
        model.updaters=[];
        model.Add(new Updater('IndependentGaussian'));
    }

    function remove_last_updater () {
        if(model.updaters.length>0)
            model.updaters.length --;
    }

    let evaluation_result_promise: Promise<EvaluationResults> = RunModel(model, GetServer());

    function formatNumber (value:any, digits:number) {
        return typeof(value)==='number' ? value.toPrecision(digits) : null;
    }

    const digits = 5;

</script>


<div class="model-args">
    <div>TimeStart</div>
    <input type=number bind:value={model.TimeStart}>
    <div>TimeSteps</div>
    <input type=number bind:value={model.TimeSteps}>
    <div>NumPaths</div>
    <input type=number bind:value={model.NumPaths}>
</div>

<div class="models-menu">
    <button on:click={reset_model}>Reset</button>
    <button on:click={remove_last_updater}>Remove last</button>
</div>

<div class="model-table">
    <ModelComponent bind:model={model} on:help={handleHelp}/>
    <div>{JSON.stringify(model, null, 2)}</div>
</div>

{#if functions.length>0}
<div class="container">
    <div class="border list">
        <UpdatersList updaters={functions} on:select={e=>func_selected=e.detail}/>
    </div>
    <div class="border doc">
        <div>
            {#if func_selected}
                <button class="add-updater-button" on:click={()=>add(model,func_selected)}>
                    Add updater <b>{func_selected.name}</b> to the model
                </button>
            {/if}
        </div>
        <div>
            <UpdaterDocComponent doc={func_selected}/>
        </div>
    </div>
</div>
{/if}

<h2>Evaluation table</h2>

<div class="evaluations-menu">
    <button on:click={()=>{model.evaluations=[];}}>Remove all</button>
    <button on:click={()=>{if(model.evaluations.length>0) model.evaluations.length--;}}>Remove last</button>
    <div class="add-evaluation">
        <button
            on:click={()=>{
                model.evaluations.push(new EvaluationPoint(
                    0,
                    eval_time
                ));
                model.evaluations = model.evaluations;
                model = model;
            }}>
            Add new:
        </button>
        <input type=number bind:value={eval_time}>
    </div>
</div>

<div class="evaluations">
    <div>Time Point</div>
    <div>Time Step</div>
    <div>1D-Histograms</div>
    <div>2D-Histograms</div>
    {#each model.evaluations as e,i}
        <div>{i}</div>
        <div>{e.time}</div>
        <div class="histogram-Xaxis">
            <div>X-state</div>
            <div>X-bins</div>
            <div>X-min</div>
            <div>X-max</div>
            {#each e.histograms as h,j}
                <input type=number bind:value={h.x.state}>
                <input type=number bind:value={h.x.nbins}>
                <input type=number bind:value={h.x.min}>
                <input type=number bind:value={h.x.max}>
            {/each}
        </div>
        <div></div>
    {/each}
</div>

<h2>Results</h2>

<button on:click={()=>evaluation_result_promise=RunModel(model, GetServer())}>
    Run the Model to update the results!
</button>

<h3>Results table</h3>

{#await evaluation_result_promise}
    <p>...waiting</p>
{:then er}
    {#if !er}
        <p>No result. Run the model!</p>
    {:else}
        <p>There are {er.names.length} states with {er.time_points.length} evaluations!</p>
        <div class="grid-container">
            <div class="h name">Name</div>
            <div class="h state">State</div>
            <div class="h point">Point</div>
            <div class="h time">Time</div>
            <div class="h time-step">TimeStep</div>
            <div class="h npaths">Npaths</div>
            <div class="h mean">Mean</div>
            <div class="h mean-error">MeanError</div>
            <div class="h stddev">Stddev</div>
            <div class="h skewness">Skewness</div>

            {#each Array(er.time_points.length) as _,point}
                {#each Array(er.names.length) as _,state}
                    <div class="c name">        {er.names[state]}</div>
                    <div class="c state">       {state}</div>
                    <div class="c point">       {point}</div>
                    <div class="c time">        {formatNumber(er.time_points[point],              digits)}</div>
                    <div class="c time-step">   {Math.round(er.time_steps [point])}</div>
                    <div class="c npaths">      {GetResultNpaths    (er,state,point)}</div>
                    <div class="c mean">        {formatNumber(GetResultMean      (er,state,point),digits)}</div>
                    <div class="c mean-error">  {formatNumber(GetResultMeanError (er,state,point),digits)}</div>
                    <div class="c stddev">      {formatNumber(GetResultStddev    (er,state,point),digits)}</div>
                    <div class="c skewness">    {formatNumber(GetResultSkewness  (er,state,point),digits)}</div>
                {/each}
            {/each}
        </div>
    {/if}

    <h3>Results has {er.histograms.length} histograms</h3>
    {#each er.histograms as h}
        <h4>Evaluation point {h.evaluation_point} histogram</h4>
        <Histogram data={h.histogram}/>
    {/each}

{:catch error}
    <p style="color: red">{error.message}</p>
{/await}

<style>
    .add-updater-button {
        background-color: yellow;
    }
    .container {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .border {
        border-radius: 0.2em;
        border-style: solid;
    }
    .model-table {
        display: flex;
    }
    .model-args {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 12em;
    }
    .model-args > input {
        width: 5rem;
    }
    .evaluations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 30rem;
    }
    .add-evaluation {
        display: flex;
    }
    .add-evaluation > input {
        width: 5rem;
    }
    .grid-container {
        background-color: antiquewhite;
        max-width: 60em;
        display: grid;
        grid-template-columns: 6fr 1fr 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
        /* grid-template-columns:minmax(10,100) minmax(10,100) minmax(10,100); */
        /* grid-template-columns: minmax(300,1fr) minmax(1ch,10ch) minmax(1ch,10ch); */
    }
    .h {
        /* font-style: bold; */
        background-color: gray;
    }
    .histogram-Xaxis {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .histogram-Xaxis > * {
        width: 4rem;
    }
</style>
