<script lang="ts">

    import Katex from '$lib/Katex.svelte'

    import {
        Updater,
        Model,
		EvaluationPoint,
        Histogram1D,
        Histogram2D,
        HistogramAxis
    } from '$lib/dto'

    import ModelTemplate from '../ModelTemplate.svelte'

    export let data = [];

    // The model

    const model = new Model(
        0, 1000, 100000,
    );

    model.Add(new Updater('IndependentGaussian'));

    const gbm = model.Add (new Updater(
        'GeometricalBrownianMotion',
        [], [-0.1, 0.2], 1
    ));

    const zcb_gbm = model.Add (new Updater(
        'ZeroCouponBond',
        [gbm.GetStateNumber()], [], 1
    ));

    const strike = 1;
    const OptionCall=0, OptionPut=1;
    const option_gbm = model.Add (new Updater(
        'Option',
        [gbm.GetStateNumber()], [strike,OptionCall], NaN
    ));

    // evaluation points

    const
        xmin0 = -0.2,
        xmax0 =  2.5,
        xmin1 =  0,
        xmax1 =  0.4;

    [1.5, 2.5].map(t=>{
        model.evaluations.push(new EvaluationPoint(
            gbm.GetStateNumber()!,
            t,
            [
                new Histogram1D({state:0,nbins:100,min:xmin0,max:xmax0}),
                new Histogram1D({state:1,nbins:100,min:xmin1,max:xmax1}),
            ]
        ));
    });

    const gbm_start = () => gbm.GetStart();
    const gbm_drift = () => gbm.GetArgs()[0];
    const gbm_diffusion = () => gbm.GetArgs()[1];

    let tevals = [];
    $: tevals = model.evaluations.map(e=>e.time);

</script>

<h1>The Model</h1>

The model has one main process (a geometrical bronian motion) and two derived processes.

The main underlying process <b>r(t)</b> has the following properties:

<ul>
    <li>starts at <Katex latex="r(0)={gbm_start()}"/></li>
    <li>has drift term <Katex latex="\mu={gbm_drift()}"/></li>
    <li>has diffusion term <Katex latex="\sigma={gbm_diffusion()}"/></li>
</ul>

The other two processes are discounting and computation of european call option.

<Katex latex="{`
    \\begin{array}{rcl}
        r(T) &=& r(0) + \\int_0^T \\left(r \\mu \\textrm{d}t + r \\sigma\\textrm{d}W_t\\right)  \\\\
        P(T) &=& \\exp\\left[ -{\\int_0^T r(\\tau) \\textrm{d}\\tau}\\right]  \\\\
        C(T) &=& \\textrm{max}(r(T)-K,0)
    \\end{array}
`}"/>

<h1>Evaluation Points</h1>

At time points T={tevals} we compute mean value, standard deviation, skewness and distribution
of the processes. These evaluations are the main results of the simulation.

<h1>The Model Representation</h1>

<ModelTemplate functions={data.functions} {model}/>
